:host {
  .loader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #e8e8e8;
    opacity: 0.7;
    width: 100vw;
    height: 100vh;
    z-index: 1000000;
    display: flex;
    align-items: center;
    justify-content: center;

    &__spinner {
      width: 50px;
      height: 50px;
      border: 5px solid #e5e5e5;
      border-top: 5px solid #333;
      border-radius: 50%;
      animation: spin 0.8s linear infinite;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
