:host {
  position: absolute;
  display: block;
  top: -100%;
  left: 0;
  right: 0;
  bottom: auto;
  margin: auto;
  width: 100px;
  height: 100px;
  box-shadow: 1px 1px 4px gray;
  border-radius: 3px;
  background: white;
  overflow: hidden;
  z-index: 100;
  padding: 5px;
  box-sizing: border-box;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
