@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

.leagues-list-container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;

  .search-params-container {
    &-form {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;

      @include mobile {
        flex-direction: column;
        margin-top: 10px;
        align-items: flex-start;
      }
    }

    mat-form-field:nth-child(2),
    button {
      margin-left: 5px;

      @include mobile {
        margin-left: 0;
      }
    }

    mat-form-field,
    button {
      @include mobile {
        margin-top: 10px;
        width: 100%;
      }
    }
  }
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
